*.class
*.log
*.iml
*.ipr
*.iws
bin
target
build
.settings
.project
.cache
.classpath
.idea/
.idea_modules/

# sbt and gradle specific
dist/*
target/
build/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies